<!DOCTYPE html>
<html>

<!-- TITLE AND CSS LINK -->

<head>
	<title>Jeeves</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="style.css"><link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<head>

<!-- BODY -->

<body>

	<img src="static/jeeves_square_logo.png" alt="Logo" style="height: 300px">

	<p>
		<font size=6>say "HEY JEEVES" or enter a command</font>
	</p>

    <form action="" method="POST">
        <input type="text" name="text">
        <input type="submit" name="main" value="Enter">
    </form>

</body>
</html>