<!DOCTYPE html>
<html>

<!-- TITLE AND CSS LINK -->

<head>
	<title>Jeeves</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<link rel="stylesheet" href="style.css"><link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<head>

<!-- BODY -->

<body>

<h1>Jeeves</h1>

<!-- LOGIN FORM -->
<div class="form">
  <form action="" method="post">
    <dl>
      <dd>Username
      <dd><input type="text" name="username" value="{{ request.form.username }}">
      <dd>Password
      <dd><input type="password" name="password" value="{{ request.form.password }}">
      <dd><input type="submit" value="Login">
    </dl>
  </form>
  {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}
  {% endif %}
</div>

</body>
</html>